<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://oddoza-api-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c44df582-7ccd-4258-9671-c74243bcdb6f/resourceGroups/pnp-dpl-odd/providers/Microsoft.Web/sites/oddoza-api-dev</ResourceId>
    <UserName>$oddoza-api-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://oddoza-api-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>